table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.profit {
  color: green;
  font-weight: 500;
}

.loss {
  color: red;
  font-weight: 500;
}

.dark-mode {
  background: #111827;

  .cdk-header-cell, .cdk-cell {
    color: #f3f4f6;
  }
}

mat-paginator.dark-mode {
  --mat-sys-surface: #111827; // Custom deep brown for dark mode cards
  --mat-sys-on-surface: #f3f4f6; // Custom amber text for dark mode cards
}
